/Metodologias_1_2020/nbproject/private/
/convertidor_capsula/nbproject/private/
/convertidor_capsula/nbproject/private/
/convertidor_capsula/nbproject/Makefile-*.mk
/convertidor_capsula/nbproject/Package-*.bash
/convertidor_capsula/build/
/convertidor_capsula/nbbuild/
/convertidor_capsula/dist/
/convertidor_capsula/nbdist/
/convertidor_capsula/.nb-gradle/